<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<!-- InstanceBegin template="/Templates/standard_menus_fixed.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <!-- InstanceBeginEditable name="title" -->
    <base href="http://tron.rcpsych.ac.uk/" /><title>
	Pharmacodynamics: Part 1
</title>
    <!-- InstanceEndEditable -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- TemplateBeginEditable name="head" -->
    <!-- TemplateEndEditable -->
    <!-- InstanceEndEditable -->
    
	<!-- Module_slide_Filled Template -->
    <link href="/templates/default/css/system/system.css" type="text/css" rel="stylesheet" /><link href="/templates/default/css/system/standard.css" type="text/css" rel="stylesheet" /><!---->
	<!--[if IE]>
		<link href="/templates/default/css/IEDivColumns.css" type="text/css" rel="stylesheet" />
	<![endif]-->
    <link href="/templates/default/css/main.css" type="text/css" rel="stylesheet" />
    <script src="/js/RCP_main.js" type="text/javascript"></script>

    <!--[if IE]>
	<script src="/js/IEHoverCSS.js" type="text/javascript"></script>

<![endif]-->
<meta name="GENERATOR" content="Immediacy .NET CMS - Licensed To : The Royal College of Psychiatrists" /><meta name="keywords" content="Pharmacodynamics: Part 1" /><meta name="description" content="Pharmacodynamics: Part 1" /><link type="text/css" rel="stylesheet" href="/RadControls/Window/Skins/Default/Window.css" /></head>
<!--Ha ha, Mind the Hack! by ID 300514-->
<!--[if lt IE 7 ]> <body class="ie6 "> <![endif]-->
<!--[if IE 7 ]>    <body class="ie7 "> <![endif]-->
<!--[if IE 8 ]>    <body class="ie8 "> <![endif]-->
<!--[if !IE]><!-->
<body>
<!--<![endif]-->
<div>
<input type="hidden" name="Template_ScriptManager1_HiddenField" id="Template_ScriptManager1_HiddenField" value="" />
<input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="" />
<input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="" />
<input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwUENTM4MQ9kFgJmD2QWBAIBD2QWCgIBDxYCHgRocmVmBcQBL1dlYlJlc291cmNlLmF4ZD9kPTVsNVZjNEQ2eUFVUlBXaFdYaEoxWXhWbW9yVHJjQlRTNkxleWdJcHVIOTlnSFlfaHhDSDVpVnJzZWZmbXlYSmpPRHZYVC1oLUNlcDYwd2FTNlVuSzlvUHFMN1lGZURDQk1PeXJKXzU0bVhXLWxsdkJRblBGRzQ5cDIxdUszbWw5UjJvekFDSk14NkVZLWlGaEpKU0lHbTROMFdJMSZ0PTYzNTEwMTg0NDgxMDExNDQ5NWQCBw8WAh8ABSgvdGVtcGxhdGVzL2RlZmF1bHQvY3NzL3N5c3RlbS9zeXN0ZW0uY3NzZAIIDxYCHwAFKi90ZW1wbGF0ZXMvZGVmYXVsdC9jc3Mvc3lzdGVtL3N0YW5kYXJkLmNzc2QCCg8WAh8ABScvdGVtcGxhdGVzL2RlZmF1bHQvY3NzL0lFRGl2Q29sdW1ucy5jc3NkAgwPFgIfAAUfL3RlbXBsYXRlcy9kZWZhdWx0L2Nzcy9tYWluLmNzc2QCAw9kFgYCJQ9kFgJmD2QWAgICDw8WBh4IQ3NzQ2xhc3MFHFNsaWRlTmF2aWdhdGlvbl9JY29uX0N1cnJlbnQeB0VuYWJsZWRoHgRfIVNCAgIWAh4Ec2l6ZQUBNmQCJw9kFgJmDxYCHgdWaXNpYmxlaGQCKQ9kFgJmD2QWAgIBDxYCHgtfIUl0ZW1Db3VudAIGFgwCAQ9kFgRmDxUBBTIyNTYwZAIBDxUCDEludHJvZHVjdGlvbgxJbnRyb2R1Y3Rpb25kAgIPZBYEZg8VAQUyMjU3NmQCAQ8VAglTZWN0aW9uIDEJU2VjdGlvbiAxZAIDD2QWBGYPFQEFMjI1ODdkAgEPFQIJU2VjdGlvbiAyCVNlY3Rpb24gMmQCBA9kFgRmDxUBBTIyNjA1ZAIBDxUCCVNlY3Rpb24gMwlTZWN0aW9uIDNkAgUPZBYEZg8VAQUyMjYxNGQCAQ8VAglTZWN0aW9uIDQJU2VjdGlvbiA0ZAIGD2QWBGYPFQEFMjI1NjlkAgEPFQIHU3VtbWFyeQdTdW1tYXJ5ZGTe22VJFAAx1SKeW4//yzq1yqorJg==" />
</div>








<script type="text/javascript">
//<![CDATA[
var __cultureInfo = '{"name":"en-GB","numberFormat":{"CurrencyDecimalDigits":2,"CurrencyDecimalSeparator":".","IsReadOnly":false,"CurrencyGroupSizes":[3],"NumberGroupSizes":[3],"PercentGroupSizes":[3],"CurrencyGroupSeparator":",","CurrencySymbol":"£","NaNSymbol":"NaN","CurrencyNegativePattern":1,"NumberNegativePattern":1,"PercentPositivePattern":0,"PercentNegativePattern":0,"NegativeInfinitySymbol":"-Infinity","NegativeSign":"-","NumberDecimalDigits":2,"NumberDecimalSeparator":".","NumberGroupSeparator":",","CurrencyPositivePattern":0,"PositiveInfinitySymbol":"Infinity","PositiveSign":"+","PercentDecimalDigits":2,"PercentDecimalSeparator":".","PercentGroupSeparator":",","PercentSymbol":"%","PerMilleSymbol":"‰","NativeDigits":["0","1","2","3","4","5","6","7","8","9"],"DigitSubstitution":1},"dateTimeFormat":{"AMDesignator":"AM","Calendar":{"MinSupportedDateTime":"\/Date(-62135596800000)\/","MaxSupportedDateTime":"\/Date(253402300799999)\/","AlgorithmType":1,"CalendarType":1,"Eras":[1],"TwoDigitYearMax":2029,"IsReadOnly":false},"DateSeparator":"/","FirstDayOfWeek":1,"CalendarWeekRule":0,"FullDateTimePattern":"dd MMMM yyyy HH:mm:ss","LongDatePattern":"dd MMMM yyyy","LongTimePattern":"HH:mm:ss","MonthDayPattern":"dd MMMM","PMDesignator":"PM","RFC1123Pattern":"ddd, dd MMM yyyy HH\u0027:\u0027mm\u0027:\u0027ss \u0027GMT\u0027","ShortDatePattern":"dd/MM/yyyy","ShortTimePattern":"HH:mm","SortableDateTimePattern":"yyyy\u0027-\u0027MM\u0027-\u0027dd\u0027T\u0027HH\u0027:\u0027mm\u0027:\u0027ss","TimeSeparator":":","UniversalSortableDateTimePattern":"yyyy\u0027-\u0027MM\u0027-\u0027dd HH\u0027:\u0027mm\u0027:\u0027ss\u0027Z\u0027","YearMonthPattern":"MMMM yyyy","AbbreviatedDayNames":["Sun","Mon","Tue","Wed","Thu","Fri","Sat"],"ShortestDayNames":["Su","Mo","Tu","We","Th","Fr","Sa"],"DayNames":["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"],"AbbreviatedMonthNames":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec",""],"MonthNames":["January","February","March","April","May","June","July","August","September","October","November","December",""],"IsReadOnly":false,"NativeCalendarName":"Gregorian Calendar","AbbreviatedMonthGenitiveNames":["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec",""],"MonthGenitiveNames":["January","February","March","April","May","June","July","August","September","October","November","December",""]}}';//]]>
</script>
<noscript><div>Browser does not support script.</div></noscript>


<script src="/ScriptResource.axd?d=0rg0TM3aBBbdAMM2O3EPvdl262VbIyEuwfIayDNVh7d3CQD4EnYbl0jwetfdEc2h407g58yDqocv4VM6k99TG5DfzlivCvFe4U5BBF8A7uiOFRZ5Vo8B17IU3wg5bmqpd9nYTSCYGFqGhQB0DRPCNi67yJQ1&amp;t=2e2045e2" type="text/javascript"></script>
<noscript><div>Browser does not support script.</div></noscript>

<script src="/ScriptResource.axd?d=81gpllarM_-MwpSNoxgRMZjsOy1XBIsVjjp7X4uRlyQSzvFxt_34eG3VYRY5vkRhlxGK4RM6VMOWkes9BxHfevAPawzz5WuMhNhOZNMRKkX3GbCrB58KppDA0FERUzHxP9a5K5UaUYk4w323vgW_ctZrLsKPkqVRtclWbzchyGUtlNUt0&amp;t=2e2045e2" type="text/javascript"></script>
<noscript><div>Browser does not support script.</div></noscript>

<div>

	<input type="hidden" name="__SCROLLPOSITIONX" id="__SCROLLPOSITIONX" value="0" />
	<input type="hidden" name="__SCROLLPOSITIONY" id="__SCROLLPOSITIONY" value="0" />
	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBALLo4+lBQL4i9OsAQK4jc2wBQLaxf3XDbelSj6W1xmwO6vyi0ojykGaZGcd" />
</div>
	<div id="OuterContainer">
    <script type="text/javascript">
//<![CDATA[
Sys.WebForms.PageRequestManager._initialize('Template$ScriptManager1', document.getElementById('aspnetForm'));
Sys.WebForms.PageRequestManager.getInstance()._updateControls([], [], [], 90);
//]]>
</script>
<noscript><div>Browser does not support script.</div></noscript>


    <div id="ContentContainer">
                 <div id="main_header">
                    <div class="left_col">
	                    <div id="college_logo">
		                    <a href="http://www.rcpsych.ac.uk/" title="RCPsych website">
			                    <img id="iTopLeftCorner" src="graphics/spacer.gif" alt="RCPsych website" alt="college_Logo" longdesc="http://www.rcpsych.ac.uk/" />
		                    </a>
	                    </div>
                    </div>
            
					<div class="mid_col">
						<!-- #BeginLibraryItem "/library/mainMenu.lbi" -->
						<div class="nav_menu">
							<ul>
			                    <li><a id="Template_AutoId3" href="../../../default.aspx?page=0">Home</a></li>
							
									
											
										
											<li><a class="sectionHeaderFalse" href="/abouttron.aspx">About TrOn</a></li>
										
 
											<li><a class="sectionHeaderFalse" href="/mytron.aspx">My TrOn</a></li>
										
 
											<li><a class="sectionHeaderTrue" href="/learningmodules.aspx">Learning modules</a></li>
										
 
											<li><a class="sectionHeaderFalse" href="/contribute.aspx">Contribute</a></li>
										
 
											<li><a class="sectionHeaderFalse" href="/help.aspx">Help</a></li>
										
 
											<li><a class="sectionHeaderFalse" href="/contactus.aspx">Contact us</a></li>
										

							</ul>
						</div>
						<div id="tron_logo">
		                    <a href="/default.aspx" title="Homepage">
			                    <img id="iTronHomeLink" src="graphics/spacer.gif" alt="Home" alt="tron_Logo" longdesc="http://tron.rcpsych.ac.uk/" />
		                    </a>					
	                    </div>
						<!-- #EndLibraryItem -->
						<!-- InstanceBeginEditable name="sealMainMenu" -->
						<!-- InstanceEndEditable -->
					</div>
					<div class="right_col">
	                    <div id="_login">
		                    <div id="Template_AutoId201_pLogin">
	
    <span id="Template_AutoId201_lvMain">
            <div id="logoutDiv" class="form-layer"> 
                <p class="noregister">
                    <span class="">Logged in as Elizabeth Atkinson
	</span> (<span id="Template_AutoId201_lvMain_lsUser"><a id="Template_AutoId201_lvMain_lsUser_lbtnAction" href="javascript:__doPostBack('Template$AutoId201$lvMain$lsUser$lbtnAction','')">Log out</a></span>)
                </p>
            </div>
		</span>

</div>						
	                    </div>
	                    <div id="search">
							<div id="searchBox">
	<label for="Template_AutoId104_SearchBox1_quickSearch">  </label><input name="Template$AutoId104$SearchBox1$quickSearch" type="text" value="Search" id="Template_AutoId104_SearchBox1_quickSearch" onfocus="clearText('Template_AutoId104_SearchBox1_quickSearch','Search');" onkeypress="return clickOnEnterMultiBrowser(event, 'Template_AutoId104_SearchBox1dosearch');" style="height:33px;width:158px;" /><img src="../../../images/1.gif" alt="" title="" width="0" height="0" /><a class="Button" href="javascript:__doPostBack('Template$AutoId104$SearchBox1','goSearch')" title="Search"><img id="Template_AutoId104_SearchBox1dosearch" src="graphics/default/search_btn.jpg" alt="Search" /></a>
</div>


						</div>
					</div>
				</div>
                <div id="main_body">
	             <div class="left_col"> 
                    <div class="moduleListTitleContainer">
						<div class="mod_lstBtn"><a href="/learningmodules.aspx" style="color: #000000"> Modules List</a></div>                        
                    </div>
	                
			                <div id="flyoutmenu">
				                <ul class="L0">
			                        <li>
                                         <b><a href='default.aspx?page=22559'>Pharmacodynamics: Part 1</a></b>
			                        </li>
		                
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction.aspx" title="Introduction" class="L0hc">Introduction</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/moduleintroduction.aspx" title="Module introduction" class="L1nc">Module introduction</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/moduleinformation.aspx" title="Module information" class="L1nc">Module information</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/examsyllabus.aspx" title="Exam syllabus" class="L1nc">Exam syllabus</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/modulecontents.aspx" title="Module contents" class="L1nc">Module contents</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/abouttheauthor.aspx" title="About the author" class="L1nc">About the author</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/learningnotes.aspx" title="Learning notes" class="L1nc">Learning notes</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/relatedarticlesbjpsychand.aspx" title="Related articles: BJPsych and BJPsych Advances" class="L1nc">Related articles: BJPsych and BJPsych Advances</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/introduction/keyreading.aspx" title="Key reading" class="L1nc">Key reading</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra.aspx" title="Section 1: Introduction to brain receptors" class="L0hc">Section 1: Introduction to brain receptors</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/11section1introduction.aspx" title="(1.1) Section 1: Introduction to brain receptors" class="L1nc">(1.1) Section 1: Introduction to brain receptors</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/12brainneurotransmitterr.aspx" title="(1.2) Brain neurotransmitter receptors" class="L1nc">(1.2) Brain neurotransmitter receptors</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/13testyourmemoryneurot.aspx" title="(1.3) Test your memory: neurotransmitter receptors" class="L1nc">(1.3) Test your memory: neurotransmitter receptors</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/14brainneurotransmitterr.aspx" title="(1.4) Brain neurotransmitter receptors: second messengers" class="L1nc">(1.4) Brain neurotransmitter receptors: second messengers</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/15receptorsubtypes.aspx" title="(1.5) Receptor subtypes" class="L1nc">(1.5) Receptor subtypes</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/16fullagonists%e2%80%98thefigh.aspx" title="(1.6) Full agonists: ‘the fighters’" class="L1nc">(1.6) Full agonists: ‘the fighters’</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/17antagonists%e2%80%98theoppone.aspx" title="(1.7) Antagonists: ‘the opponents’" class="L1nc">(1.7) Antagonists: ‘the opponents’</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/18partialagonists%e2%80%98half-.aspx" title="(1.8) Partial agonists: ‘half-hearted fighters’" class="L1nc">(1.8) Partial agonists: ‘half-hearted fighters’</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/19inverseagonists%e2%80%98thet.aspx" title="(1.9) Inverse agonists: ‘the traitors’" class="L1nc">(1.9) Inverse agonists: ‘the traitors’</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/110section1recap.aspx" title="(1.10) Section 1: Recap" class="L1nc">(1.10) Section 1: Recap</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section1introductiontobra/111section1summary.aspx" title="(1.11) Section 1: Summary" class="L1nc">(1.11) Section 1: Summary</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep.aspx" title="Section 2: Understanding receptor phenomena" class="L0hc">Section 2: Understanding receptor phenomena</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/21section2understanding.aspx" title="(2.1) Section 2: Understanding receptor phenomena" class="L1nc">(2.1) Section 2: Understanding receptor phenomena</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/22up-anddown-regulation.aspx" title="(2.2) Up- and down-regulation" class="L1nc">(2.2) Up- and down-regulation</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/23toleranceandsensitisat.aspx" title="(2.3) Tolerance and sensitisation" class="L1nc">(2.3) Tolerance and sensitisation</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/24affinity.aspx" title="(2.4) Affinity" class="L1nc">(2.4) Affinity</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/25efficacy.aspx" title="(2.5) Efficacy" class="L1nc">(2.5) Efficacy</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/26potency.aspx" title="(2.6) Potency" class="L1nc">(2.6) Potency</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/27efficacy,potencyandaf.aspx" title="(2.7) Efficacy, potency and affinity: how do they relate to each other?" class="L1nc">(2.7) Efficacy, potency and affinity: how do they relate to each other?</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/28apivotalpaperkapur.aspx" title="(2.8) A pivotal paper: Kapur &amp; Seeman, 2001" class="L1nc">(2.8) A pivotal paper: Kapur &amp; Seeman, 2001</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/29section2recap.aspx" title="(2.9) Section 2: Recap" class="L1nc">(2.9) Section 2: Recap</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section2understandingrecep/210section2summary.aspx" title="(2.10) Section 2: Summary" class="L1nc">(2.10) Section 2: Summary</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr.aspx" title="Section 3: The role of neurotransmitters in psychopharmacology" class="L0hc">Section 3: The role of neurotransmitters in psychopharmacology</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/31section3theroleofn.aspx" title="(3.1) Section 3: The role of neurotransmitters in psychopharmacology" class="L1nc">(3.1) Section 3: The role of neurotransmitters in psychopharmacology</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/32neurotransmitterstheb.aspx" title="(3.2) Neurotransmitters: the basics" class="L1nc">(3.2) Neurotransmitters: the basics</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/33neurotransmittertypes.aspx" title="(3.3) Neurotransmitter types" class="L1nc">(3.3) Neurotransmitter types</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/34testyourmemoryneurot.aspx" title="(3.4) Test your memory: neurotransmitters" class="L1nc">(3.4) Test your memory: neurotransmitters</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/35section3recap.aspx" title="(3.5) Section 3: Recap" class="L1nc">(3.5) Section 3: Recap</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section3theroleofneurotr/36section3summary.aspx" title="(3.6) Section 3: Summary" class="L1nc">(3.6) Section 3: Summary</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics.aspx" title="Section 4: Pharmacogenetics" class="L0hc">Section 4: Pharmacogenetics</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/41section4pharmacogenet.aspx" title="(4.1) Section 4: Pharmacogenetics" class="L1nc">(4.1) Section 4: Pharmacogenetics</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/42whatispharmacogenetics.aspx" title="(4.2) What is pharmacogenetics?" class="L1nc">(4.2) What is pharmacogenetics?</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/43variabilityinmetabolis.aspx" title="(4.3) Variability in metabolising drugs" class="L1nc">(4.3) Variability in metabolising drugs</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/44pharmacogeneticsother.aspx" title="(4.4) Pharmacogenetics: other examples in psychiatry" class="L1nc">(4.4) Pharmacogenetics: other examples in psychiatry</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/45clinicalapplicationsan.aspx" title="(4.5) Clinical applications and implications" class="L1nc">(4.5) Clinical applications and implications</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/46ethicalcontroversy.aspx" title="(4.6) Ethical controversy" class="L1nc">(4.6) Ethical controversy</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/47section4recap.aspx" title="(4.7) Section 4: Recap" class="L1nc">(4.7) Section 4: Recap</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/section4pharmacogenetics/48section4summary.aspx" title="(4.8) Section 4: Summary" class="L1nc">(4.8) Section 4: Summary</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary.aspx" title="Summary" class="L0hc">Summary</a>
                                            
                         

                                    <ul class="L1">
                        
                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/modulesummary.aspx" title="Module summary" class="L1nc">Module summary</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/keyreading.aspx" title="Key reading" class="L1nc">Key reading</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/references.aspx" title="References" class="L1nc">References</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/acknowledgements.aspx" title="Acknowledgements" class="L1nc">Acknowledgements</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/take-homenotes.aspx" title="Take-home notes" class="L1nc">Take-home notes</a>
                                            </li>
                         

                                        <li>
                                            <a href="/learningmodules/pharmacodynamicspart1/summary/pharmacodynamicspart1.aspx" title="Pharmacodynamics: Part 1" class="L1nc">Pharmacodynamics: Part 1</a>
                                            </li>
                         

                                    </ul>
                                </li>
                        
			                    </ul>
                            </div>
		                 
                </div>
                        <div class="mid_col">                    
                            <div id="heading">
                                <!-- InstanceBeginEditable name="heading" -->
                                <h1>
                                    Pharmacodynamics: Part 1
							    </h1>
							    <!-- InstanceEndEditable -->
                             </div>
						    <div class="mid_col_Content">
								<div class="wan">
									<div class="headerDiv">
										
<div>
<div class="reflection">You have now reached the end of this
Trainees Online module. We hope that you found it&nbsp;a rewarding
and informative learning experience.&nbsp;&nbsp;
<p class="MsoNormal">&nbsp;</p>
<p class="MsoNormal">Before you go, we would love to hear your
views on the module. Please&nbsp;take the time to&nbsp;<a onclick="window.open(this.href, '_blank'); return false;" href="https://www.surveymonkey.com/r/End_Module_Feedback" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}"><strong>leave
feedback on this module</strong></a>.&nbsp;&nbsp;</p>
<p class="MsoNormal">&nbsp;</p>

    <%= yield %>

</div>
<div class="multimedia">
<p><a onclick="window.open(this.href, '_blank'); return false;" href="https://twitter.com/RCPsychTrainees" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}"><img width="39" alt="" class="ImmControlAlign_Left" src="/images/twitter%20bird%20small.jpg" height="39"/></a></p>
<p>&nbsp;</p>
<p><a onclick="window.open(this.href, '_blank'); return false;" href="https://twitter.com/RCPsychTrainees" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}">Follow TrOn via the PTC
Twitter feed</a> for the latest news on modules, TrOn pOsts and
more.</p>
</div>
<p>&nbsp;</p>
<p><a href="/default.aspx">Trainees Online home</a></p>
</div>
									</div>
									<div class="columnsContainer">
										<div class="leftColumn">
											
										</div>

										<div class="rightColumn">
											
										</div>
									</div>
									<div class="columnsContainer">
										<div class="leftColumn30">
											
										</div>

										<div class="rightColumn70">
											
										</div>
									</div>
									<div class="columnsContainer">
										<div class="leftColumn50">
											
										</div>

										<div class="rightColumn50">
											
										</div>
									</div>
									<div class="columnsContainer">
										<div class="leftColumn33">
											
										</div>
										<div class="midColumn32">
											
										</div>
										<div class="rightColumn33">
											
										</div>
									</div>									
									<div class="footerDiv">
										
									</div>
								</div>
                            </div>
                            <div id="postMain">
                                <!-- InstanceBeginEditable name="postMain" -->
								<div id="SlideNavigationWrapper"> <!-- SP Added New style to page navigation on 18/05/2016 -->
									<div>
	<a href="/learningmodules/pharmacodynamicspart1/summary/modulesummary.aspx" class="SlideNavigation_Icon_First"><img src="graphics/SlideNavigation/RR.gif" alt="Module summary"/></a><a href="/learningmodules/pharmacodynamicspart1/summary/take-homenotes.aspx" class="SlideNavigation_Icon_Previous"><img src="graphics/SlideNavigation/R.gif" alt="Take-home notes"/></a><input name="Template$AutoId9$ctl01" type="text" value="6 of 6" disabled="disabled" class="SlideNavigation_Icon_Current" size="6" /><img src="graphics/SlideNavigation/blank.gif" alt=""/><a href="/learningmodules/pharmacodynamicspart1/summary/pharmacodynamicspart1.aspx" class="SlideNavigation_Icon_Last"><img src="graphics/SlideNavigation/FF.gif" alt="Pharmacodynamics: Part 1"/></a>
</div>
								</div>
                                <!-- InstanceEndEditable -->
                            </div>
                        </div>

                        <div class="right_col">
                            <div id="utils">
                                

<div id="utilLinks">
	<div id="printLink">
		<img valign="bottom" src="graphics/icon_print3.gif" alt="Printable version" style="HEIGHT: 14px">
		<a 
		href="/learningmodules/pharmacodynamicspart1/summary/pharmacodynamicspart1.aspx?theme=print" onclick="window.open(this.href, '_blank'); return false;" onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}" 
		onclick="window.open(this.href, '_blank'); return false;" 
		onkeypress="if (event.keyCode==13) {window.open(this.href, '_blank'); return false;}">
			Printable version</a>
	</div>

</div>
		
                            </div>
                            <br />
                            <div id="notes">
                                 <div id="Template_AutoId11_divNotes">
	<script type="text/javascript">
function ShowWindow(pageURL, title)
{
    var oManager = GetRadWindowManager();
    //Success. Getting existing window DialogWindow using GetWindowByName
    var oWnd = oManager.GetWindowByName("rwNote");
    //Success. Setting a size and a Url to the window using its client API before showing
    oWnd.SetTitle(title + " - Notes");
    oWnd.SetUrl(pageURL);
    //Success. Opening window
    oWnd.Show();
}

function onwinclose(win)
{
	//alert(win.isSubmit.value);
	
}
	</script>
<noscript><div>Browser does not support script.</div></noscript>

	
			<div class="Notebook">
				<div id="notecontainer">
					<h2>Notes:</h2>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22560&moduleID=22559", "Introduction")'>Introduction</a></div>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22576&moduleID=22559", "Section 1")'>Section 1</a></div>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22587&moduleID=22559", "Section 2")'>Section 2</a></div>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22605&moduleID=22559", "Section 3")'>Section 3</a></div>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22614&moduleID=22559", "Section 4")'>Section 4</a></div>
		
			<div><a href='javascript:ShowWindow("http://tron.rcpsych.ac.uk//plugins/CPDModule/CPDNoteWindow.aspx?sectionID=22569&moduleID=22559", "Summary")'>Summary</a></div>
		
</div>
</div> 
<div id="Template_AutoId11_rwmNotesManager_wrapper" style="position:absolute">
<span id="Template_AutoId11_rwmNotesManagerStyleSheetHolder" style="display:none;"></span><span id="Template_AutoId11_rwmNotesManager" style="width:0px;height:0px;"><span><input type="hidden" id="RadWindowManagerMinimizeTemplate" value="				
			%3ctable border%3d%270%27 style%3d%27display%3ainline%27 id%3d%27RadWMinimized%7b0%7d%27 class%3d%27RadWMinimizedActive%27 cellspacing%3d%270%27 cellpadding%3d%270%27%3e
			%3ctr class%3d%27RadWTitleRow%27%3e
				%3ctd%3e
					%3cimg class%3d%27RadWIcon%27 src%3d%27%7b3%7d%27 align%3d%27absmiddle%27 border%3d%270%27%3e
				%3c/td%3e
				%3ctd style%3d%27vertical-align%3amiddle%3b%27 nowrap%3e%3cdiv style%3d%27padding%3a1px%3bwidth%3a40px%3boverflow%3ahidden%27 
				%3e%3cspan id%3d%27RadWMinimizedTitle%7b0%7d%27 onselectstart%3d%27return false%3b%27 class%3d%27RadWTitleText%27%3e%7b4%7d%3c/span%3e%3c/div%3e%3c/td%3e						
				%3ctd nowrap%3e
					%3cimg  class%3d%27RadWButton%27 style%3d%27vertical-align%3amiddle%3bborder%3a0%27 src%3d%27%7b2%7dImg/Restore.gif%27 id%3d%27RadWMinimizedRestore%7b0%7d%27 onclick%3d%27%7b1%7d.Restore%28%29%27/%3e
				%3c/td%3e	
				%3ctd nowrap%3e
					%3cimg class%3d%27RadWButton%27 style%3d%27vertical-align%3amiddle%3bborder%3a0%27 src%3d%27%7b2%7dImg/Close.gif%27 id%3d%27RadWMinimizedClose%7b0%7d%27 onclick%3d%27%7b1%7d.Close%28%29%27/%3e
				%3c/td%3e
			%3c/tr%3e
			%3c/table%3e	
		" /><input type="hidden" id="RadWindowManagerAlertTemplate" value="
		%3cstyle%3e
		body
		%7b
			background%3a white%3b				
			font%3a normal 12px Arial%2c Verdana%2c Sans-serif%3b
			overflow%3a hidden%3b
			height%3a 100%25%3b
		%7d
		.Button
		%7b
			background%3a url%28%7b2%7dImg/modalBtnBg.gif%29%3b
			border%3a 0px%3b
			width%3a 67px%3b
      height%3a 18px%3b
			color%3a %23333%3b
			font%3a normal 11px Verdana%2c Arial%2c Sans-serif%3b
			margin-bottom%3a 8px%3b				
		%7d
		.FixedDiv
		%7b
			font%3a normal 11px Verdana%2c Arial%2c Sans-serif%3b
			color%3a	black%3b
			text-align%3a center%3b
		%7d												
		%3c/style%3e
								
			%3cdiv class%3d%27FixedDiv%27%3e
				%3cbr /%3e%3cbr /%3e
				%3cimg align%3d%27absmiddle%27 style%3d%27vertical-align%3amiddle%3bborder%3a0%27 src%3d%27%7b2%7dImg/AlertIcon.gif%27 /%3e 
				%7b6%7d
				%3cbr /%3e%3cbr /%3e
			%3c/div%3e
			%3ccenter%3e
				%3cbutton class%3d%22Button%22 onclick%3d%22GetRadWindow%28%29.Close%28%29%22%3b%3e					
					%3cscript%3e
						document.write%28GetRadWindow%28%29.GetLocalizedString%28%22Ok%22%29%29%3b
					%3c/script%3e			
				%3c/button%3e
			%3c/center%3e
			%3cembed src%3d%22%7b2%7dImg/alert.wav%22 height%3d%220%22 width%3d%220%22 style%3d%22display%3a none%3b%22%3e%3c/embed%3e				
		" /><input type="hidden" id="RadWindowManagerConfirmTemplate" value="				
			%3cstyle%3e
				body
				%7b
					background%3a white%3b				
					font%3a normal 11px Arial%2c Verdana%2c Sans-serif%3b
					overflow%3a hidden%3b
				%7d
				.Button
				%7b
					background%3a url%28%7b2%7dImg/modalBtnBg.gif%29 no-repeat%3b
					border%3a 0px%3b
					width%3a 67px%3b
          height%3a 18px%3b
					color%3a %23333%3b
					font%3a normal 11px Arial%2c Verdana%2c Sans-serif%3b
					margin%3a 2px%3b						
				%7d
				.FixedDiv
				%7b
					font%3a normal 11px Arial%2c Verdana%2c Sans-serif%3b
					margin%3a 3px%3b
					color%3a black%3b
					text-align%3a center%3b
				%7d
			%3c/style%3e
			%3cdiv class%3d%27FixedDiv%27%3e
				%3cbr /%3e
				%3cimg align%3d%27absmiddle%27 style%3d%27vertical-align%3amiddle%3bborder%3a0%27 src%3d%27%7b2%7dImg/AlertIcon.gif%27 /%3e
				%7b6%7d
				%3cembed src%3d%22%7b2%7dImg/alert.wav%22 height%3d%220%22 width%3d%220%22 style%3d%22display%3a none%3b%22%3e%3c/embed%3e	
			%3c/div%3e
			%3cbr%3e
			%3ccenter%3e
				%3cbutton class%3d%22Button%22 onclick%3d%22GetRadWindow%28%29.ModalDialogCallBack%28true%29%22%3e
					%3cscript%3e
						document.write%28GetRadWindow%28%29.GetLocalizedString%28%22Yes%22%29%29%3b
					%3c/script%3e
				%3c/button%3e
				%3cbutton class%3d%22Button%22 onclick%3d%22GetRadWindow%28%29.ModalDialogCallBack%28false%29%22%3e
					%3cscript%3e
						document.write%28GetRadWindow%28%29.GetLocalizedString%28%22No%22%29%29%3b
					%3c/script%3e
				%3c/button%3e
			%3c/center%3e		
		" /><input type="hidden" id="RadWindowManagerPromptTemplate" value="			
			%3cstyle%3e
			body
			%7b
				background%3a white%3b				
				font%3a normal 11px Verdana%2c Arial%2c Sans-serif%3b
				overflow%3a hidden%3b
			%7d
			.Button
			%7b
				background%3a url%28%7b2%7dImg/modalBtnBg.gif%29 no-repeat%3b
				border%3a 0px%3b
				width%3a 67px%3b
        height%3a 18px%3b
				color%3a %23333%3b
				font%3a normal 11px Verdana%2c Arial%2c Sans-serif%3b
				margin%3a 2px%3b						
			%7d
			.FixedDiv
			%7b
				font%3a normal 11px Verdana%2c Arial%2c Sans-serif%3b
				margin%3a 3px%3b
				color%3a black%3b
				text-align%3a center%3b
			%7d
			%3c/style%3e
			%3cdiv class%3d%27FixedDiv%27%3e
			%3ccenter%3e
				%3cbr /%3e
				%3cimg align%3d%27absmiddle%27 style%3d%27vertical-align%3amiddle%3bborder%3a0%27 src%3d%27%7b2%7dImg/AlertIcon.gif%27 /%3e 
				%7b6%7d%3cbr /%3e%3cbr /%3e
				%3cinput type%3d%27textbox%27 style%3d%27width%3a200px%27 id%3d%27TextBox%27 style%3d%22border%3a solid 1px %23333%3b%22 /%3e
				%3cembed src%3d%22%7b2%7dImg/alert.wav%22 height%3d%220%22 width%3d%220%22 style%3d%22display%3a none%3b%22%3e%3c/embed%3e	
			%3c/center%3e
			%3cbr /%3e
			%3ccenter%3e
				%3cbutton class%3d%22Button%22 onclick%3d%22GetRadWindow%28%29.ModalDialogCallBack%28document.getElementById%28%27TextBox%27%29.value%29%3b%22%3e
					%3cscript%3e
						document.write%28GetRadWindow%28%29.GetLocalizedString%28%22Ok%22%29%29%3b
					%3c/script%3e
				%3c/button%3e
				%3cbutton class%3d%22Button%22 onclick%3d%22GetRadWindow%28%29.Close%28%29%22%3e
					%3cscript%3e
						document.write%28GetRadWindow%28%29.GetLocalizedString%28%22Cancel%22%29%29%3b
					%3c/script%3e
				%3c/button%3e
			%3c/center%3e	
			%3c/div%3e	
		" /><span id='RadWSplashHolder' style='display:none;'></span><script type="text/javascript">/*<![CDATA[*/
window.RadWLoc = null;
if (window.loc) { RadWLoc = window.loc; }
window.loc = localization_en_US = { };loc["Maximize"] = "Maximize";
loc["Minimize"] = "Minimize";
loc["Close"] = "Close";
loc["Restore"] = "Restore";
loc["PinOff"] = "Pin Off";
loc["PinOn"] = "Pin On";
loc["ConfirmMessage"] = "Are you sure?";
loc["PromptMessage"] = "Enter value:";
loc["Ok"] = "Ok";
loc["Cancel"] = "Cancel";
loc["Yes"] = "Yes";
loc["No"] = "No";
loc["Loading"] = "Loading...";
loc["Reload"] = "Reload";
loc["Alert"] = "RadWindow alert";
loc["Prompt"] = "RadWindow prompt";
loc["Confirm"] = "RadWindow confirm";
if (RadWLoc) { window.loc = RadWLoc; }RadWindowManagerInitialize( "Template_AutoId11_rwmNotesManager", "/", "/RadControls/Window/Skins/Default/", "en_US", false, "", false, 
false,[['FocusNextWindow','CTRL+TAB'],['MinimizeAll','CTRL+F2'],['EscapeActiveWindow','ESC']], "", "" , "", "", "", "", "", "", 
"", "", "dockingZone" , 0, 36, 1, false, true, true, false, "OffsetElement", 
"", false, true, true, false, false);

/*]]>*/</script>
<noscript><div>Browser does not support script.</div></noscript>
</span><script type="text/javascript">/*<![CDATA[*/
RadWindowInitialize( "Template_AutoId11_rwmNotesManager_rwNote", "rwNote", "radWindow_Template_AutoId11_rwmNotesManager_rwNote", false, "", "", "onwinclose", "", "", "", "600px", "400px", 
"", "" ,"", "", 0, 127, 1, false, false, null, null, "", "", null,null,null,"" );

/*]]>*/</script>
<noscript><div>Browser does not support script.</div></noscript>
</span>
</div>
<div id="dockingZone"></div>
</div>

                            </div>
                        </div>

                        <div id="footerContainer">
                            <div id="footer">
                                <!-- #BeginLibraryItem "/library/footlinks.lbi" -->
                                    <div class="footer_menu">
                                        <ul>
                                            
                                            <li><a href="/systempages/home.aspx">Home</a></li>
                                            
	
                                            <li><a href="/systempages/sitemap.aspx">Sitemap</a></li>
                                            
	
                                            <li><a href="/systempages/help.aspx">Help</a></li>
                                            
	
                                            <li><a href="/systempages/contactus.aspx">Contact us</a></li>
                                            
	
                                            <li><a href="/systempages/aboutthecollege.aspx">About the College</a></li>
                                            
	
                                            <li><a href="/systempages/disclaimer.aspx">Disclaimer</a></li>
                                            
	
                                            <li><a href="/systempages/termsandconditions.aspx">Terms and Conditions</a></li>
                                            
	
                                            <li><a href="/systempages/cookiesandprivacypolicy.aspx">Cookies and Privacy Policy</a></li>
                                            

                                        </ul>
                                    </div>
                                <!-- #EndLibraryItem -->
                            </div>
	                        <div class="social_med">
								

	<div id="tweet"> 
		<a href="https://twitter.com/RCPsych" title="Twitter page" target="_new">
			<img id="iTronTwtrLink" src="graphics/spacer.gif" alt="Twitter page" />
		</a>
	</div>
	&nbsp;
	<div id="facebook_icon"> 
		<a href="https://www.facebook.com/pages/Psychiatric-Trainees-Committee/186606754737390#!/pages/Psychiatric-Trainees-Committee/186606754737390" title="Facebook page" target="_new">
			<img id="iTronFBLink" src="graphics/spacer.gif" alt="Facebook page" />
		</a>					
	</div>						
	                        </div>
                        </div>
                 </div>
            </div>
        </div>
            <!-- InstanceBeginEditable name="sealFootlinks" -->
            <!-- InstanceEndEditable -->
       
		    <div id="BasementOuterContainer">
			    <div id="barLegal">
				    &copy;
				    2016

				    Royal College of Psychiatrists
			    </div>    
				<span id="Template_AutoId14"><!-- Subscription Checker --><!-- Module Tracker Control --></span>
				



				    
		    </div>
    


</body>
<!-- InstanceEnd -->
</html>

